$icomoon-font-family: "restaurant" !default;
$icomoon-font-path: "/assets/fonts" !default;

$icon-calendar: "\e900";
$icon-plans: "\e901";
$icon-reviews: "\e902";
$icon-search-icon: "\e903";
$icon-subscriptions: "\e904";
$icon-upDown: "\e905";
$icon-activity: "\e906";
$icon-center: "\e907";
$icon-configurations: "\e908";
$icon-coupons: "\e909";
$icon-customers: "\e90a";
$icon-dashboard: "\e90b";
$icon-filter-filled: "\e90c";
$icon-home: "\e90d";
$icon-kitchen: "\e90e";
$icon-operations: "\e90f";