<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <div class="wrapper">

    <div class="centerPopUp">
        <div class="filterBox">
            <h1>Filter</h1>

            <div class="subscrPlan">
                <label for="">SUBSCRIPTION PLAN</label>
                <div class="subscrPlan__box">
                    <div class="subscrPlan__box-whiteBtn">
                        TWO WEEKS
                    </div>

                    <button class="subscrPlan__box-orangeBtn margin-left">
                        <span>ONE MONTH</span>
                    </button>
                </div>
            </div>

            <div class="subscrPlan">
                <label for="">MENU TYPE</label>
                <div class="subscrPlan__box">
                    <div class="subscrPlan__box-whiteBtn">
                        REGULAR
                    </div>

                    <button class="subscrPlan__box-orangeBtn margin-left">
                        <span>DIET</span> 
                    </button>
                </div>
            </div>

              
            <div class="subscrPlan">
                <label for="">STATUS</label>
                <div class="subscrPlan__box">
                    <div class="subscrPlan__box-whiteBtn">
                        PENDING
                    </div>

                    <button class="subscrPlan__box-orangeBtn margin-left">
                        <span>ACTIVE</span> 
                    </button>
                    
                    <div class="subscrPlan__box-whiteBtn margin-left">
                        ENDED
                    </div>

                    <button class="subscrPlan__box-orangeBtn margin-left">
                        <span>PAUSED</span> 
                    </button>
                </div>

                <button class="subscrPlan__box-orangeBtn margin-top">
                    <span>CANCELED</span> 
                </button>
            </div>


            <div class="formContent">
                <form action="">
                    <div class="filterContentBox">
                        <div class="applyFilter">
                            <input type="submit" value="APPLY FILTER">
                        </div>
                        <div class="clearFilter">
                            <input class="clearFilter" type="submit" value="CLEAR FILTER">
                        </div>
                    </div>
                </form>
            </div>
            

        </div>
    </div>

  </div> 

  @@include('../partials/scripts/common.html')

</body>

</html>