<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <div class="wrapper">

    <div class="centerPopUp">
        <div class="filterBox">
            <h1>Filter</h1>

            <div class="subscrPlan">
                <p>SUBSCRIPTION PLAN</p>
                <div class="subscrPlan__box">
                    <div class="subscrPlan__box-whiteBtn">
                        TWO WEEKS
                    </div>

                    <button class="subscrPlan__box-orangeBtn margin-left">
                        <span>ONE MONTH</span>
                    </button>
                </div>
            </div>

            <div class="subscrPlan">
                <p>MENU TYPE</p>
                <div class="subscrPlan__box">
                    <div class="subscrPlan__box-whiteBtn">
                        REGULAR
                    </div>

                    <button class="subscrPlan__box-orangeBtn margin-left">
                        <span>DIET</span> 
                    </button>
                </div>
            </div>

              
            <div class="subscrPlan">
                <p>STATUS</p>
                <div class="subscrPlan__box">
                    <div class="subscrPlan__box-whiteBtn">
                        PENDING
                    </div>

                    <button class="subscrPlan__box-orangeBtn">
                        <span>ACTIVE</span> 
                    </button>
                    
                    <div class="subscrPlan__box-whiteBtn">
                        ENDED
                    </div>

                    <button class="subscrPlan__box-orangeBtn margin-top">
                        <span>PAUSED</span> 
                    </button>

                    <button class="subscrPlan__box-orangeBtn margin-top">
                        <span>CANCELED</span> 
                    </button>
                </div> 

            </div>


            <div class="formContent">
                <form action="">

                    <div class="startEndDate">
                        <div class="startEndDate__elem">
                            <p>START DATE</p>
                            <div class="startEndDate__elem__box">
                                <div class="startEndDate__elem__box__input">
                                    <label for="from">FROM</label><br/>
                                    <input type="text" name="from" placeholder="START DATE">
                                </div>
    
                                <div class="startEndDate__elem__box__input">
                                    <label for="to">TO</label><br/>
                                    <input type="text" name="to" placeholder="TO DATE">
                                </div>
                            </div>
                        </div>

                        <div class="startEndDate__elem">
                            <p>END DATE</p>
                            <div class="startEndDate__elem__box">
                                <div class="startEndDate__elem__box__input">
                                    <label for="from">FROM</label><br/>
                                    <input type="text" name="from" placeholder="START DATE">
                                </div>
    
                                <div class="startEndDate__elem__box__input">
                                    <label for="to">TO</label><br/>
                                    <input type="text" name="to" placeholder="TO DATE">
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="filterContentBox">
                        <div class="applyFilter">
                            <input type="submit" value="APPLY FILTER">
                        </div>
                        <div class="clearFilter">
                            <input class="clearFilter" type="submit" value="CLEAR FILTER">
                        </div>
                    </div>
                </form>
            </div> 
            

        </div>
    </div>

  </div> 

  @@include('../partials/scripts/common.html')

</body>

</html>