.wrapper{
	display: flex;
	width: 100%;
	min-height: 100vh;
	background: #F8F8F8;
}

.right{
	padding: 15px 22px;
	width: calc(100vw - 300px);
	@media only screen and (max-width: 954px){ 
		width: 100%; 
	}
	@media only screen and (max-width: 420px){ 
		padding-left: 0;
		padding-right: 0; 
	} 
}
