<div class="boxesContent">
    <div class="box-element">
        <div class="box-element__top orange">
            <div class="box-element__top__mainTitle">
                <h2>@@mainTitle1</h2>
            </div>

            <div class="box-element__top__whiteCircle">
                <a href="#">@@image1</a>
            </div>
 
            <h3>@@text1</h3>

            <div class="box-element__top__description">@@description1</div>
        </div>
        <div class="box-element__bottom">
            <div class="box-element__bottom__topTitle">
                <h4>@@title1</h4> 
                <a href="#">@@allergies1</a>
            </div>

            <ul class="box-element__bottom__details">
                <li class="box-element__bottom__details__item">@@fat1</li>
                <li class="box-element__bottom__details__item">@@carbs1</li>
                <li class="box-element__bottom__details__item borderNone">@@protein1</li>
            </ul>
        </div>
    </div>


    <div class="box-element">
        <div class="box-element__top greenBlue">
            <div class="box-element__top__mainTitle">
                <h2>@@mainTitle2</h2>
            </div>

            <div class="box-element__top__whiteCircle">
                <a href="#">@@image2</a> 
            </div>

            <h3>@@text2</h3>

            <div class="box-element__top__description">@@description2</div>
        </div>
        <div class="box-element__bottom">
            <div class="box-element__bottom__topTitle">
                <h4>@@title2</h4>
                <a href="#">@@allergies2</a>
            </div>

            <ul class="box-element__bottom__details">
                <li class="box-element__bottom__details__item">@@fat2</li>
                <li class="box-element__bottom__details__item">@@carbs2</li>
                <li class="box-element__bottom__details__item borderNone">@@protein2</li>
            </ul>
        </div>
    </div>
    

    <div class="box-element">
        <div class="box-element__top pink">
            <div class="box-element__top__mainTitle">
                <h2>@@mainTitle3</h2>
            </div>

            <div class="box-element__top__whiteCircle">
                <a href="#">@@image3</a>
            </div>
            <h3>@@text3</h3>

            <div class="box-element__top__description">@@description3</div>
        </div>
        <div class="box-element__bottom">
            <div class="box-element__bottom__topTitle">
                <h4>@@title3</h4>
                <a href="#">@@allergies3</a>
            </div>
            
            <ul class="box-element__bottom__details">
                <li class="box-element__bottom__details__item">@@fat3</li>
                <li class="box-element__bottom__details__item">@@carbs3</li>
                <li class="box-element__bottom__details__item borderNone">@@protein3</li>
            </ul>
        </div>
    </div>
</div>
