<aside class="left">

	<div class="profileInfo">
		<a href="#" class="profileInfo__picture" style="background-image: url(../images/profile-picture.jpg);"></a>
		<h3 class="profileInfo__name">Maha Abdullah <a href="#" class="profileInfo__name__link">(Log Out)</a> </h3>
	</div>


	<nav class="leftNav">

		<ul class="leftNav__list">
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-dashboard"></span>
					<span>Dashboard</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-subscriptions"></span>
					<span>Subscriptions</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-operations"></span>
					<span>Operations</span>
				</a>
			</li>
			<li class="leftNav__list__item active">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-kitchen"></span>
					<span>Kitchen</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-plans"></span>
					<span>Plans</span>
				</a>
			</li> 
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-customers"></span>
					<span>Customers</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-reviews"></span>
					<span>Reviews</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-center"></span>
					<span>Center</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-coupons"></span>
					<span>Coupons</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-configurations"></span>
					<span>Configurations</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<span class="icon-activity"></span>
					<span>Activity</span>
				</a>
			</li>
		</ul>
		
	</nav>
</aside>