<aside class="left">

	<div class="profileInfo">
		<a href="#" class="profileInfo__picture" style="background-image: url(../images/profile-picture.jpg);"></a>
		<h3 class="profileInfo__name">Maha Abdullah <a href="#" class="profileInfo__name__link">(Log Out)</a> </h3>
	</div>


	<nav class="leftNav">

		<ul class="leftNav__list">
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon1.svg" alt="">
					<span>Dashboard</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon2.svg" alt="">
					<span>Subscriptions</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon3.svg" alt="">
					<span>Operations</span>
				</a>
			</li>
			<li class="leftNav__list__item active">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon4.svg" alt="">
					<span>Kitchen</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon5.svg" alt="">
					<span>Plans</span>
				</a>
			</li> 
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon6.svg" alt="">
					<span>Customers</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon7.svg" alt="">
					<span>Reviews</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon8.svg" alt="">
					<span>Center</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon9.svg" alt="">
					<span>Coupons</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon10.svg" alt="">
					<span>Configurations</span>
				</a>
			</li>
			<li class="leftNav__list__item">
				<a href="#" class="leftNav__list__item__link">
					<img scr="../images/icon11.svg" alt="">
					<span>Activity</span>
				</a>
			</li>
		</ul>
		
	</nav>
</aside>