<div class="weekdays">

    <div class="nextPrev">
        <a href="#" class="nextPrev__link">&#171; Previous Week</a>
        <a href="#" class="nextPrev__link">NEXT week &#187;</a>
    </div>

    <div class="weekdays-content">
        <a href="#" class="weekdays-content__item active">
            SUN<br/>1<br/>JAN, 2019
        </a>
        <a href="#" class="weekdays-content__item">
            MON<br/>2<br/>JAN, 2019
        </a>
        <a href="#" class="weekdays-content__item">
            TUE<br/>3<br/>JAN, 2019
        </a>
        <a href="#" class="weekdays-content__item">
            WEN<br/>4<br/>JAN, 2019
        </a>
        <a href="#" class="weekdays-content__item">
            THU<br/>5<br/>JAN, 2019
        </a>
        <a href="#" class="weekdays-content__item">
            FRI<br/>6<br/>JAN, 2019
        </a>
    </div>
    
</div>